* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
li{
  list-style-type: none;
}

.slide-show {
  height: 460px;
  width: 1200px;
  position: relative;
  margin: 100px auto;
}

.slide-img {
  position: absolute;
}

.slide-img a {
  cursor: default;
}

.btn {
  width: 50px;
  height: 45px;
  position: absolute;
  z-index: 10004;
  cursor: pointer;
}

.prev {
  background: url("../light-box/icon/prev.png") no-repeat center center;
  top: 207px;
  left: 5px;
}

.next {
  background: url("../light-box/icon/next.png") no-repeat center center;
  top: 207px;
  right: 5px;
}

.tabs {
  height: 20px;
  position: absolute;
  bottom: 10px;

}
.tabs div{
  margin: 0 auto;
  height: 20px;
}

.tab {
  list-style-type: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid gray;
  float: left;
  margin-right: 10px;
}

.tab-active {
  border: 1px solid gray;
  background-color: orange;
}
